<div id="app-container">
    {{> header}}
	<br><br>
	
	<table>
		<tbody>
			<tr>
				<td>– Archive</td>
				<td>List of all convoy sites and apps that exist online.</td>
				<td>
					<a class="btn btn-default btn-xs" href="archive" role="button">open</a>
					<a class="btn btn-default btn-xs" href="archive/admin" role="button">admin</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>