@mixin globalSlideTransition() {
    transition: transform .8s $easeInOutQuart;
}
@mixin simpleUpperText() {
	font-size: $smallTitleSize;
    font-family: 'AvenirBlk';
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

