// Custom vars
$min-middle-width: 960px;
$globalFontSize: 20px;
$overallMargin: 30px;

$smallTitleSize: 15px;
$overallPadding: 0 30px;

$mainPageWidth: 82%;

// Breakpoints
$MQ_XSMALL: 320px;
$MQ_SMALL: 480px;
$MQ_MEDIUM: 768px;
$MQ_LARGE: 1024px;
$MQ_XLARGE: 1280px;
$MQ_XXLARGE: 1680px;

// Color
$white: #ffffff;
$black: #000000;
$gray: #232323;
$gray-open: #535353;
