<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Convoy – ARCHIVE</title>
    <link href="favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<script src="/lib/jquery-2.2.3.min.js"></script>
	<script src="/lib/bootstrap.min.js"></script>

	{{{body}}}

</body>
</html>

